.button {
    border: none;
    background: white;
    padding: 4px;
    aspect-ratio: 1 / 1;
    height: 32px;
    border-radius: var(--border-radius-1);
}

.icon {
    height: 100%;
    width: 100%;
    stroke: var(--gray-3);
}