.slider {
    position: relative;
    width: 240px;
    height: 16px;
    padding: 8px;
}

.track {
    background: linear-gradient(
        in hsl longer hue to right,
        hsl(0deg 100% 50%),
        hsl(360deg 100% 50%)
    );
    width: 100%;
    height: 100%;
}